.container {
    position: relative;
    width: 930px;
    max-width: 100%;
    margin: 0 auto;
    font-family: "Roboto", Arial, sans-serif;
}

.container::after {
    content: 'Перетащите сюда файл не более < 1мб';
    display: block;
    position: absolute;
    top: 250px;
    left: 50%;
    font-size: 20px;
    color: #999;
    transform: translate(-50%, -50%);
}

.dropbox {
    width: 100%;
    height: 300px;
    border: 2px dashed #999;
    padding-top: 100px;
    box-sizing: border-box;
}

.dropbox.highlight {
    border: 2px dashed #999;
    background-color: aliceblue;
}

.file-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-file input[type="file"] {
    display: none;
}

.upload-file {
    width: 170px;
    height: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: #ecf0f1;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
    margin-left: 50%;
    transform: translateX(-50%);
}

.upload-file:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    transition: all 0.2s linear;
}

.upload-file__title {
    position: absolute;
    top: 15px;
    width: 250px;
    right: -260px;
}

.upload-icon {
    width: 10px;
    height: 10px;
    position: relative;
    color: #2c3e50;
    background-color: currentColor;
}

.upload-icon:before,
.upload-icon:after {
    content:"";
    display:block;
    position:absolute;
}

.upload-icon:before {
    bottom: 100%;
    margin-left: -7.5px;
    border-bottom: 12px solid currentColor;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.upload-icon:after {
    top: 100%;
    left: -95%;
    width: 300%;
    height: 2px;
    margin-top: 5px;
    position: absolute;
    background-color: currentColor;
}

.result {
    color: #999;
    text-align: center;
}

.result-error {
    color: red;
}

.result span {
    color: #000;
    font-size: 40px;
}
